body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: jf-openhuninn;
}
@font-face {
  font-family: 'jf-openhuninn';
  src: url("/font/jf-openhuninn-2.0.ttf") format('truetype');
}
