.navi-buttom-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}
.navi-buttom {
  width: 139px;
  height: 100%;
  flex-shrink: 0;
  background: rgba(217,217,217,0.39);
  color: #4b1f52;
  font-family: jf-openhuninn;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 定义下拉菜单的容器 */
.navi-dropdown {
  position: relative;
  display: inline-block;
}
/* 定义按钮样式 */
.dropbtn {
  width: min-content;
  height: 100%;
  background: rgba(217,217,217,0.39);
  color: #5e4959;
  font-family: jf-openhuninn;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
/* 定义下拉菜单的内容 */
.dropdown-content {
  display: block;
  position: absolute;
  width: min-content;
  height: min-content;
  z-index: 1;
  visibility: hidden;
  transition: 0.5s;
}
.navi-dropdown:hover .dropdown-content {
  visibility: visible;
}
/* 定义下拉菜单中的链接样式 */
.dropdown-content a {
  position: relative;
  color: #8c2842;
  font-family: jf-openhuninn;
  background: rgba(217,217,217,0.39);
  font-size: 28px;
  padding-bottom: 10%;
  padding-top: 10%;
  transform: translateY(-10px);
  transition: transform 0.5s ease-in-out 0s, background-color 0.2s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
  opacity: 0;
  text-decoration: none;
  display: block;
}
.navi-dropdown:hover .dropdown-content a:nth-child(1) {
  transition-delay: 0s;
}
.navi-dropdown:hover .dropdown-content a:nth-child(2) {
  transition-delay: 0.1s;
}
.navi-dropdown:hover .dropdown-content a:nth-child(3) {
  transition-delay: 0.2s;
}
.navi-dropdown:hover .dropdown-content a {
  transform: translateY(0px);
  opacity: 1;
}
.dropdown-content a:hover {
  background: rgba(192,236,255,0.415);
}
.dropbtn:hover {
  background: rgba(192,236,255,0.415);
}
